body {
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: #7742f4;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grumplogo {
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  background-color: #f9f14a;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 10px 10px 3px #000000;

}
